<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${faction.gangType.group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${faction.gangType.group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${faction.gangType.group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:replace="/fragments/formatting :: link (to=${faction.gangType.group})"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${faction.gangType.group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.faction}"></a>
		<a class="current" th:text="${faction.name}"></a>
	</nav>
	<dl  th:if="${faction.gangType.group.memberType != null and faction.gangType.group.memberType.owner}" class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/wh40kskirmish/rules/{groupId}/faction/{factionId}/edit(groupId=${faction.gangType.group.id},factionId=${faction.id})}" th:text="#{menu.groups.rules.wh40kskirmish.faction.edit}"></a></dd>
	</dl>
	<p>View faction here</p>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
