<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{/groups/view/{groupId}(groupId=${group.id})}" th:text="${group.name}"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${group.id})}" th:text="#{menu.groups.rules}"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}/gangtypes/list(groupId=${group.id})}" th:text="#{menu.groups.rules.wh40kskirmish.gangtypes}"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}/gangtypes/{gangTypeId}(groupId=${group.id},gangTypeId=${gangType.id})}" th:text="${gangType.name}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.faction}"></a>
		<a class="current" th:text="${faction.name}"></a>
	</nav>
	<p>View faction here</p>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
