<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{${group.groupType.groupUrl}+'/{groupId}'(groupId=${group.id})}" th:text="${group.name}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.wh40kskirmish.gang}"></a>
		<a th:unless="${gangForm.id}" class="current" th:text="#{menu.groups.wh40kskirmish.gang.create}"></a>
		<a th:if="${gangForm.id}" th:href="@{/wh40kskirmish/gang/{groupId}/{gangId}(groupId=${group.id},gangId=${gangForm.id})}" th:text="${gangForm.name}"></a>
		<a th:if="${gangForm.id}" class="current" th:text="#{menu.groups.wh40kskirmish.gang.edit}"></a>
	</nav>
	<form action="#" th:action="@{/wh40kskirmish/gang/{groupId}/save(groupId=${group.id})}" th:object="${gangForm}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{version}" />
		<input type="hidden" th:field="*{groupId}" />
		<label>
			Name <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
			<input type="text" th:field="*{name}" />
		</label>
		<input th:if="${gangForm.id}" type="hidden" th:field="*{playerId}" />
		<label th:unless="${gangForm.id}">
			Player <span class="error" th:if="${#fields.hasErrors('playerId')}" th:errors="*{playerId}">Player error</span>
			<select th:field="*{playerId}">
				<option th:each="member : ${group.members}" th:value="${member.id}" th:text="${member.name}" th:class="#{${member.cssClass}}"></option>
			</select>
		</label>
		<input th:if="${gangForm.id}" type="hidden" th:field="*{factionId}" />
		<label th:unless="${gangForm.id}">
			Faction <span class="error" th:if="${#fields.hasErrors('factionId')}" th:errors="*{factionId}">Faction error</span>
			<select th:field="*{factionId}">
				<option th:each="faction : ${factions}" th:value="${faction.id}" th:text="${faction.name}"></option>
			</select>
		</label>
		<label>
			Money <span class="error" th:if="${#fields.hasErrors('money')}" th:errors="*{money}">Money error</span>
			<input type="number" min="0" th:field="*{money}" />
		</label>
		<button type="submit">Save</button>
	</form>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
