<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{/groups/view/{groupId}(groupId=${group.id})}" th:text="${group.name}"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.gangtype}"></a>
		<a class="current" th:text="${gangType.name}"></a>
	</nav>
	<dl  th:if="${group.memberType != null and group.memberType.owner}" class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/wh40kskirmish/rules/{groupId}/gangtype/{gangTypeId}/edit(groupId=${group.id},gangTypeId=${gangType.id})}" th:text="#{menu.groups.rules.wh40kskirmish.gangtype.edit}"></a></dd>
	</dl>
	<table>
		<thead>
			<tr>
				<td>Faction</td>
				<td>Action</td>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${#lists.isEmpty(gangType.factions)}">
				<td colspan="2">No factions defined yet</td>
			</tr>
			<tr th:each="faction : ${gangType.factions}">
				<td th:text="${faction.name}"></td>
				<td>
					<a th:href="@{/wh40kskirmish/rules/{groupId}/faction/{gangTypeId}/{factionId}(groupId=${group.id},gangTypeId=${gangType.id},factionId=${faction.id})}" th:text="#{menu.groups.rules.wh40kskirmish.faction.view}"></a>
				</td>
			</tr>
		</tbody>
	</table>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
