<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${gang.rules.group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${gang.rules.group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${gang.rules.group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{${gang.rules.group.groupType.groupUrl}+'/{groupId}'(groupId=${gang.rules.group.id})}" th:text="${gang.rules.group.name}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.wh40kskirmish.gang}"></a>
		<a class="current" th:text="${gang.name}"></a>
	</nav>
	<dl th:if="${(gang.rules.group.memberType != null and gang.rules.group.memberType.owner) or currentUser.is(gang.player)}" class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd th:if="${gang.rules.group.memberType != null and gang.rules.group.memberType.owner}"><a th:href="@{/wh40kskirmish/gang/{groupId}/{gangId}/edit(groupId=${gang.rules.group.id},gangId=${gang.id})}" th:text="#{menu.groups.wh40kskirmish.gang.edit}"></a></dd>
		<dd th:if="${(gang.rules.group.memberType != null and gang.rules.group.memberType.owner) or currentUser.is(gang.player)}"><a th:href="@{/wh40kskirmish/gang/{groupId}/{gangId}/recruit(groupId=${gang.rules.group.id},gangId=${gang.id})}" th:text="#{menu.groups.wh40kskirmish.fighter.create}"></a></dd>
	</dl>
	<p th:if="${#lists.isEmpty(gang.fighters)}" class="fi-alert">
		No fighters have been recruited yet
	</p>
	<table th:unless="${#lists.isEmpty(gang.fighters)}">
		<thead>
			<tr>
				<td>Fighter</td>
				<td>Fighter type</td>
				<td>M</td>
				<td>WS</td>
				<td>BS</td>
				<td>S</td>
				<td>T</td>
				<td>W</td>
				<td>I</td>
				<td>A</td>
				<td>Ld</td>
				<td>Cost</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="fighter : ${gang.fighters}">
				<td><a th:href="@{/wh40kskirmish/gang/{groupId}/fighter/{fighterId}(groupId=${gang.rules.group.id},fighterId=${fighter.id})}" th:text="${fighter.name}"></a></td>
				<td th:text="${fighter.fighterType.name}"></td>
				<td th:text="${fighter.movement}"></td>
				<td th:text="${fighter.weaponSkill}"></td>
				<td th:text="${fighter.ballisticSkill}"></td>
				<td th:text="${fighter.strength}"></td>
				<td th:text="${fighter.toughness}"></td>
				<td th:text="${fighter.wounds}"></td>
				<td th:text="${fighter.initiative}"></td>
				<td th:text="${fighter.attacks}"></td>
				<td th:text="${fighter.leadership}"></td>
				<td th:text="${fighter.cost}"></td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<td>Stash</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span th:text="${gang.money}"></span> <span th:text="${gang.rules.currencyName}"></span></td>
			</tr>
		</tbody>
	</table>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
