<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:replace="/fragments/formatting :: link (to=${gangType.group})"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${gangType.group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.gangtype}"></a>
		<a class="current" th:text="${gangType.name}"></a>
	</nav>
	<dl  th:if="${currentUser.isOwner(gangType.group)}" class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/wh40kskirmish/rules/{groupId}/gangtype/{gangTypeId}/edit(groupId=${gangType.group.id},gangTypeId=${gangType.id})}" th:text="#{menu.groups.rules.wh40kskirmish.gangtype.edit}"></a></dd>
	</dl>
	<p th:if="${#lists.isEmpty(gangType.startingTerritories)}">Each gang starts with no territories</p>
	<p th:unless="${#lists.isEmpty(gangType.startingTerritories)}">Each new gang starts with one random territory from each of the following categories:</p>
	<ul th:unless="${#lists.isEmpty(gangType.startingTerritories)}">
		<li th:each="startingTerritory : ${gangType.startingTerritories}" th:text="${startingTerritory.name}"></li>
	</ul>
	<table>
		<thead>
			<tr>
				<td>Experience</td>
				<td>Title</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="experienceLevel : ${gangType.experienceLevels}">
				<td th:text="${experienceLevel.experiencePoints}"></td>
				<td th:text="${experienceLevel.name}"></td>
			</tr>
		</tbody>
	</table>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
