<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{/groups/view/{groupId}(groupId=${group.id})}" th:text="${group.name}"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.gangtype}"></a>
		<a th:unless="${gangTypeForm.id}" class="current" th:text="#{menu.groups.rules.wh40kskirmish.gangtype.create}"></a>
		<a th:if="${gangTypeForm.id}" th:href="@{/wh40kskirmish/rules/{groupId}/gangtype/{gangTypeId}(groupId=${group.id},gangTypeId=${gangTypeForm.id})}" th:text="${gangTypeForm.name}"></a>
		<a th:if="${gangTypeForm.id}" class="current" th:text="#{menu.groups.rules.wh40kskirmish.gangtype.edit}"></a>
	</nav>
	<form action="#" th:action="@{/wh40kskirmish/rules/{groupId}/gangtype/save(groupId=${group.id})}" th:object="${gangTypeForm}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{version}" />
		<input type="hidden" th:field="*{groupId}" />
		Name <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
		<input type="text" th:field="*{name}" />
		<table>
			<thead>
				<tr>
					<td>
						<a id="experience-level-add" href="javascript:void(0);" th:text="#{menu.groups.rules.wh40kskirmish.gangtype.edit.addxplevel}"></a>
					</td>
					<td>
						<a id="experience-level-remove" href="javascript:void(0);" th:text="#{menu.groups.rules.wh40kskirmish.gangtype.edit.removexplevel}"></a>
					</td>
					<td th:if="${#fields.hasErrors('experienceLevels')}" rowspan="2">
						<span class="error" th:errors="*{experienceLevels}"></span>
					</td>
				</tr>
				<tr>
					<td>Experience</td>
					<td>Title</td>
				</tr>
			</thead>
			<tbody id="experience-levels">
				<tr th:each="experienceLevel, stat : ${gangTypeForm.experienceLevels}">
					<td>
						<input type="number" min="0" max="1000" th:field="*{experienceLevels[__${stat.index}__].experiencePoints}" />
					</td>
					<td>
						<input type="text" th:field="*{experienceLevels[__${stat.index}__].name}" />
					</td>
				</tr>
			</tbody>
		</table>
		<button type="submit">Save</button>
	</form>
	<script>
		$(document).ready(function() {
			$('#experience-level-add').click(function(){
				var count = $('#experience-levels').children().length;
				var $row = $('<tr/>');
				var $cellXp = $('<td/>');
				var $inputXp = $('<input/>', {
					'type' : "number",
					'value' : "0",
					'name' : "experienceLevels["+count+"].experiencePoints",
					'id' : "experienceLevels"+count+".experiencePoints",
					'max' : "1000",
					'min' : "0"});
				var $cellName = $('<td/>');
				var $inputName = $('<input/>', {
					'type' : "text",
					'value' : "",
					'name' : "experienceLevels["+count+"].name",
					'id' : "experienceLevels"+count+".name"});
				$cellXp.append($inputXp);
				$cellName.append($inputName);
				$row.append($cellXp);
				$row.append($cellName);
				$('#experience-levels').append($row);
			});
			$('#experience-level-remove').click(function(){
				var count = $('#experience-levels').children().length;
				if(count > 1) {
					$('#experience-levels').children().last().remove();
				} else {
					alert('There must be at least one experience level, starting at zero');
				}
			});
		});
	</script>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
