<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${race.gangType.group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${race.gangType.group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${race.gangType.group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{/groups/view/{groupId}(groupId=${race.gangType.group.id})}" th:text="${race.gangType.group.name}"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${race.gangType.group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.race}"></a>
		<a class="current" th:text="${race.name}"></a>
	</nav>
	<dl  th:if="${race.gangType.group.memberType != null and race.gangType.group.memberType.owner}" class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/wh40kskirmish/rules/{groupId}/race/{gangTypeId}/{raceId}/edit(groupId=${race.gangType.group.id},gangTypeId=${race.gangType.id},raceId=${race.id})}" th:text="#{menu.groups.rules.wh40kskirmish.race.edit}"></a></dd>
	</dl>
	<p>View race here</p>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
