<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:replace="/fragments/formatting :: link (to=${race.gangType.group})"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${race.gangType.group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.race}"></a>
		<a class="current" th:text="${race.name}"></a>
	</nav>
	<dl  th:if="${currentUser.isOwner(race.gangType.group)}" class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/wh40kskirmish/rules/{groupId}/race/{raceId}/edit(groupId=${race.gangType.group.id},raceId=${race.id})}" th:text="#{menu.groups.rules.wh40kskirmish.race.edit}"></a></dd>
	</dl>
	<table>
		<thead>
			<tr>
				<td>Maximum characteristics</td>
				<td>M</td>
				<td>WS</td>
				<td>BS</td>
				<td>S</td>
				<td>T</td>
				<td>W</td>
				<td>I</td>
				<td>A</td>
				<td>Ld</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td th:text="${race.name}"></td>
				<td th:text="${race.maxMovement}"></td>
				<td th:text="${race.maxWeaponSkill}"></td>
				<td th:text="${race.maxBallisticSkill}"></td>
				<td th:text="${race.maxStrength}"></td>
				<td th:text="${race.maxToughness}"></td>
				<td th:text="${race.maxWounds}"></td>
				<td th:text="${race.maxInitiative}"></td>
				<td th:text="${race.maxAttacks}"></td>
				<td th:text="${race.maxLeadership}"></td>
			</tr>
		</tbody>
	</table>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
