<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${gangType.group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${gangType.group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${gangType.group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{${gangType.group.url}}" th:text="${gangType.group.name}"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${gangType.group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.race}"></a>
		<a th:unless="${raceForm.id}" class="current" th:text="#{menu.groups.rules.wh40kskirmish.race.create}"></a>
		<a th:if="${raceForm.id}" th:href="@{/wh40kskirmish/rules/{groupId}/race/{raceId}(groupId=${gangType.group.id},raceId=${raceForm.id})}" th:text="${raceForm.name}"></a>
		<a th:if="${raceForm.id}" class="current" th:text="#{menu.groups.rules.wh40kskirmish.race.edit}"></a>
	</nav>
	<form action="#" th:action="@{/wh40kskirmish/rules/{groupId}/race/save(groupId=${gangType.group.id})}" th:object="${raceForm}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{version}" />
		<input type="hidden" th:field="*{groupId}" />
		<input type="hidden" th:field="*{gangTypeId}" />
		Name <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
		<input type="text" th:field="*{name}" />
		<table>
			<thead>
				<tr>
					<td>Maximum characteristics</td>
					<td>M</td>
					<td>WS</td>
					<td>BS</td>
					<td>S</td>
					<td>T</td>
					<td>W</td>
					<td>I</td>
					<td>A</td>
					<td>Ld</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>
						<span class="error" th:if="${#fields.hasErrors('maxMovement')}" th:errors="*{maxMovement}"></span>
						<input type="number" min="1" max="10" th:field="*{maxMovement}" />
					</td>
					<td>
						<span class="error" th:if="${#fields.hasErrors('maxWeaponSkill')}" th:errors="*{maxWeaponSkill}"></span>
						<input type="number" min="1" max="10" th:field="*{maxWeaponSkill}" />
					</td>
					<td>
						<span class="error" th:if="${#fields.hasErrors('maxBallisticSkill')}" th:errors="*{maxBallisticSkill}"></span>
						<input type="number" min="1" max="10" th:field="*{maxBallisticSkill}" />
					</td>
					<td>
						<span class="error" th:if="${#fields.hasErrors('maxStrength')}" th:errors="*{maxStrength}"></span>
						<input type="number" min="1" max="10" th:field="*{maxStrength}" />
					</td>
					<td>
						<span class="error" th:if="${#fields.hasErrors('maxToughness')}" th:errors="*{maxToughness}"></span>
						<input type="number" min="1" max="10" th:field="*{maxToughness}" />
					</td>
					<td>
						<span class="error" th:if="${#fields.hasErrors('maxWounds')}" th:errors="*{maxWounds}"></span>
						<input type="number" min="1" max="10" th:field="*{maxWounds}" />
					</td>
					<td>
						<span class="error" th:if="${#fields.hasErrors('maxInitiative')}" th:errors="*{maxInitiative}"></span>
						<input type="number" min="1" max="10" th:field="*{maxInitiative}" />
					</td>
					<td>
						<span class="error" th:if="${#fields.hasErrors('maxAttacks')}" th:errors="*{maxAttacks}"></span>
						<input type="number" min="1" max="10" th:field="*{maxAttacks}" />
					</td>
					<td>
						<span class="error" th:if="${#fields.hasErrors('maxLeadership')}" th:errors="*{maxLeadership}"></span>
						<input type="number" min="1" max="10" th:field="*{maxLeadership}" />
					</td>
				</tr>
			</tbody>
		</table>
		<button type="submit">Save</button>
	</form>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
