<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${rules.group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${rules.group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${rules.group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{${rules.group.groupType.groupUrl}+'/{groupId}'(groupId=${rules.group.id})}" th:text="${rules.group.name}"></a>
		<a class="current" th:text="#{menu.groups.rules}"></a>
	</nav>
	<dl  th:if="${rules.group.memberType != null and rules.group.memberType.owner}" class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/wh40kskirmish/rules/{groupId}/edit(groupId=${rules.group.id})}" th:text="#{menu.groups.rules.edit}"></a></dd>
	</dl>
	<h1>Rules overview</h1>
	<p>Starting money: <span th:text="${rules.startingMoney}"></span> <span th:text="${rules.currencyName}"></span></p>
	<h2>Skills</h2>
	<ul class="small-block-grid-4">
		<li th:each="skillCategory : ${rules.skillCategories}" class="panel">
			<a th:href="@{/wh40kskirmish/rules/{groupId}/skillcategory/{skillCategoryId}(groupId=${rules.group.id},skillCategoryId=${skillCategory.id})}" th:text="${skillCategory.name}"></a>
			<ul>
				<li th:each="skill : ${skillCategory.skills}">
					<a th:href="@{/wh40kskirmish/rules/{groupId}/skill/{skillId}(groupId=${rules.group.id},skillId=${skill.id})}" th:text="${skill.name}"></a>
				</li>
				<li th:if="${#lists.isEmpty(skillCategory.skills)}" class="fi-alert">
					No skills have been created yet
				</li>
				<li th:if="${rules.group.memberType != null and rules.group.memberType.owner}">
					<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/skill/{skillCategoryId}/create(groupId=${rules.group.id},skillCategoryId=${skillCategory.id})}" th:text="#{menu.groups.rules.wh40kskirmish.skill.create}"></a>
				</li>
			</ul>
		</li>
		<li th:if="${#lists.isEmpty(rules.skillCategories)}" class="fi-alert panel">
			No skill categories have been created yet
		</li>
		<li th:if="${rules.group.memberType != null and rules.group.memberType.owner}" class="panel">
			<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/skillcategory/create(groupId=${rules.group.id})}" th:text="#{menu.groups.rules.wh40kskirmish.skillcategory.create}"></a>
		</li>
	</ul>
	<h2>Items</h2>
	<ul class="small-block-grid-4">
		<li th:each="itemCategory : ${rules.itemCategories}" class="panel">
			<a th:href="@{/wh40kskirmish/rules/{groupId}/itemcategory/{itemCategoryId}(groupId=${rules.group.id},itemCategoryId=${itemCategory.id})}" th:text="${itemCategory.name}"></a>
			<ul>
				<li th:each="itemType : ${itemCategory.itemTypes}">
					<a th:href="@{/wh40kskirmish/rules/{groupId}/itemtype/{itemTypeId}(groupId=${rules.group.id},itemTypeId=${itemType.id})}" th:text="${itemType.name}"></a>
				</li>
				<li th:if="${#lists.isEmpty(itemCategory.itemTypes)}" class="fi-alert">
					No item types have been created yet
				</li>
				<li th:if="${rules.group.memberType != null and rules.group.memberType.owner}">
					<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/itemtype/{itemCategoryId}/create(groupId=${rules.group.id},itemCategoryId=${itemCategory.id})}" th:text="#{menu.groups.rules.wh40kskirmish.itemtype.create}"></a>
				</li>
			</ul>
		</li>
		<li th:if="${#lists.isEmpty(rules.itemCategories)}" class="fi-alert panel">
			No item categories have been created yet
		</li>
		<li th:if="${rules.group.memberType != null and rules.group.memberType.owner}" class="panel">
			<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/itemcategory/create(groupId=${rules.group.id})}" th:text="#{menu.groups.rules.wh40kskirmish.itemcategory.create}"></a>
		</li>
	</ul>
	<h2>Territories</h2>
	<ul class="small-block-grid-4">
		<li th:each="territoryCategory : ${rules.territoryCategories}" class="panel">
			<a th:href="@{/wh40kskirmish/rules/{groupId}/territorycategory/{territoryCategoryId}(groupId=${rules.group.id},territoryCategoryId=${territoryCategory.id})}" th:text="${territoryCategory.name}"></a>
			<ul>
				<li th:each="territoryType : ${territoryCategory.territoryTypes}">
					<a th:href="@{/wh40kskirmish/rules/{groupId}/territorytype/{territoryTypeId}(groupId=${rules.group.id},territoryTypeId=${territoryType.id})}" th:text="${territoryType.name}"></a>
				</li>
				<li th:if="${#lists.isEmpty(territoryCategory.territoryTypes)}" class="fi-alert">
					No territory types have been created yet
				</li>
				<li th:if="${rules.group.memberType != null and rules.group.memberType.owner}">
					<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/territorytype/{territoryCategoryId}/create(groupId=${rules.group.id},territoryCategoryId=${territoryCategory.id})}" th:text="#{menu.groups.rules.wh40kskirmish.territorytype.create}"></a>
				</li>
			</ul>
		</li>
		<li th:if="${#lists.isEmpty(rules.territoryCategories)}" class="fi-alert panel">
			No territory categories have been created yet
		</li>
		<li th:if="${rules.group.memberType != null and rules.group.memberType.owner}" class="panel">
			<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/territorycategory/create(groupId=${rules.group.id})}" th:text="#{menu.groups.rules.wh40kskirmish.territorycategory.create}"></a>
		</li>
	</ul>
	<h2>Gangs</h2>
	<table>
		<thead>
			<tr>
				<td>Gang type / faction</td>
				<td>Race / fighter type</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="gangType : ${rules.gangTypes}">
				<td>
					<a th:href="@{/wh40kskirmish/rules/{groupId}/gangtype/{gangTypeId}(groupId=${rules.group.id},gangTypeId=${gangType.id})}" th:text="${gangType.name}"></a>
					<ul>
						<li th:each="faction : ${gangType.factions}">
							<a th:href="@{/wh40kskirmish/rules/{groupId}/faction/{factionId}(groupId=${rules.group.id},factionId=${faction.id})}"
								th:text="${faction.name}"></a>
						</li>
						<li th:if="${#lists.isEmpty(gangType.factions)}" class="fi-alert">
							No factions have been created yet
						</li>
						<li th:if="${rules.group.memberType != null and rules.group.memberType.owner}">
							<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/faction/{gangTypeId}/create(groupId=${rules.group.id},gangTypeId=${gangType.id})}" th:text="#{menu.groups.rules.wh40kskirmish.faction.create}"></a>
						</li>
					</ul>
				</td>
				<td>
					<ul>
						<li th:each="race : ${gangType.races}">
							<a th:href="@{/wh40kskirmish/rules/{groupId}/race/{raceId}(groupId=${rules.group.id},raceId=${race.id})}"
								th:text="${race.name}"></a>
							<ul>
								<li th:each="fighterType : ${race.fighterTypes}">
									<a th:href="@{/wh40kskirmish/rules/{groupId}/fightertype/{gangTypeId}/{raceId}/{fighterTypeId}(groupId=${rules.group.id},gangTypeId=${gangType.id},raceId=${race.id},fighterTypeId=${fighterType.id})}"
										th:text="${fighterType.name}"></a>
								</li>
								<li th:if="${#lists.isEmpty(race.fighterTypes)}" class="fi-alert">
									No fighter types have been created yet
								</li>
								<li th:if="${rules.group.memberType != null and rules.group.memberType.owner}">
									<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/fightertype/{gangTypeId}/{raceId}/create(groupId=${rules.group.id},gangTypeId=${gangType.id},raceId=${race.id})}" th:text="#{menu.groups.rules.wh40kskirmish.fightertype.create}"></a>
								</li>
							</ul>
						</li>
						<li th:if="${#lists.isEmpty(gangType.races)}" class="fi-alert">
							No races have been created yet
						</li>
						<li th:if="${rules.group.memberType != null and rules.group.memberType.owner}">
							<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/race/{gangTypeId}/create(groupId=${rules.group.id},gangTypeId=${gangType.id})}" th:text="#{menu.groups.rules.wh40kskirmish.race.create}"></a>
						</li>
					</ul>
				</td>
			</tr>
			<tr th:if="${#lists.isEmpty(rules.gangTypes)}">
				<td class="fi-alert">
					No gang types have been created yet
				</td>
				<td></td>
			</tr>
			<tr th:if="${rules.group.memberType != null and rules.group.memberType.owner}">
				<td>
					<a class="fi-plus" th:href="@{/wh40kskirmish/rules/{groupId}/gangtype/create(groupId=${rules.group.id})}" th:text="#{menu.groups.rules.wh40kskirmish.gangtype.create}"></a>
				</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
