<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${rules.group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${rules.group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${rules.group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{/groups/view/{groupId}(groupId=${rules.group.id})}" th:text="${rules.group.name}"></a>
		<a class="current" th:text="#{menu.groups.rules}"></a>
	</nav>
	<dl class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/wh40kskirmish/rules/{groupId}/gangtypes/list(groupId=${rules.group.id})}" th:text="#{menu.groups.rules.wh40kskirmish.gangtype}"></a></dd>
	</dl>
	<p>View rules here</p>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
