<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:replace="/fragments/formatting :: link (to=${group})"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="current" th:text="#{menu.groups.rules.edit}"></a>
	</nav>
	<form action="#" th:action="@{/wh40kskirmish/rules/{groupId}/save(groupId=${group.id})}" th:object="${rulesForm}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{version}" />
		<input type="hidden" th:field="*{groupId}" />
		Starting money <span class="error" th:if="${#fields.hasErrors('startingMoney')}" th:errors="*{startingMoney}">Starting money error</span>
		<input type="number" min="1" max="10000" th:field="*{startingMoney}" />
		Currency name <span class="error" th:if="${#fields.hasErrors('currencyName')}" th:errors="*{currencyName}">Currency name error</span>
		<input type="text" th:field="*{currencyName}" />
		<button type="submit">Save</button>
	</form>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
