<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:replace="/fragments/formatting :: link (to=${skill.skillCategory.group})"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${skill.skillCategory.group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.skill}"></a>
		<a class="current" th:text="${skill.name}"></a>
	</nav>
	<dl  th:if="${currentUser.isOwner(skill.skillCategory.group)}" class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/wh40kskirmish/rules/{groupId}/skill/{skillId}/edit(groupId=${skill.skillCategory.group.id},skillId=${skill.id})}" th:text="#{menu.groups.rules.wh40kskirmish.skill.edit}"></a></dd>
	</dl>
	<p>View skill here</p>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
