<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{${group.url}}" th:text="${group.name}"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.skillcategory}"></a>
		<a th:unless="${skillCategoryForm.id}" class="current" th:text="#{menu.groups.rules.wh40kskirmish.skillcategory.create}"></a>
		<a th:if="${skillCategoryForm.id}" th:href="@{/wh40kskirmish/rules/{groupId}/skillcategory/{skillCategoryId}(groupId=${group.id},skillCategoryId=${skillCategoryForm.id})}" th:text="${skillCategoryForm.name}"></a>
		<a th:if="${skillCategoryForm.id}" class="current" th:text="#{menu.groups.rules.wh40kskirmish.skillcategory.edit}"></a>
	</nav>
	<form action="#" th:action="@{/wh40kskirmish/rules/{groupId}/skillcategory/save(groupId=${group.id})}" th:object="${skillCategoryForm}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{version}" />
		<input type="hidden" th:field="*{groupId}" />
		Name <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
		<input type="text" th:field="*{name}" />
		<button type="submit">Save</button>
	</form>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
