<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:unless="${skillCategory.group.memberType}" th:href="@{/}" th:text="#{menu.public}"></a>
		<a th:unless="${skillCategory.group.memberType}" th:href="@{/groups/public}" th:text="#{menu.public.groups}"></a>
		<a th:if="${skillCategory.group.memberType}" th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{${skillCategory.group.groupType.groupUrl}+'/{groupId}'(groupId=${skillCategory.group.id})}" th:text="${skillCategory.group.name}"></a>
		<a th:href="@{/wh40kskirmish/rules/{groupId}(groupId=${skillCategory.group.id})}" th:text="#{menu.groups.rules}"></a>
		<a class="unavailable" href="#" th:text="#{menu.groups.rules.wh40kskirmish.skill}"></a>
		<a th:unless="${skillForm.id}" class="current" th:text="#{menu.groups.rules.wh40kskirmish.skill.create}"></a>
		<a th:if="${skillForm.id}" th:href="@{/wh40kskirmish/rules/{groupId}/skill/{skillId}(groupId=${skillCategory.group.id},skillId=${skillForm.id})}" th:text="${skillForm.name}"></a>
		<a th:if="${skillForm.id}" class="current" th:text="#{menu.groups.rules.wh40kskirmish.skill.edit}"></a>
	</nav>
	<form action="#" th:action="@{/wh40kskirmish/rules/{groupId}/skill/save(groupId=${skillCategory.group.id})}" th:object="${skillForm}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{version}" />
		<input type="hidden" th:field="*{groupId}" />
		<input type="hidden" th:field="*{skillCategoryId}" />
		Name <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
		<input type="text" th:field="*{name}" />
		<button type="submit">Save</button>
	</form>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
