<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>GaGrOr - Gaming Group Organizer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/foundation/5.4.5-1/css/foundation.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/foundation-icon-fonts/d596a3cfb3/foundation-icons.css}" />
	<script th:src="@{/webjars/modernizr/2.7.1/modernizr.js}"></script>
	<script th:src="@{/webjars/jquery/2.1.0/jquery.js}"></script>
	<script th:src="@{/webjars/fastclick/1.0.1/fastclick.js}"></script>
	<script th:src="@{/webjars/foundation/5.4.5-1/js/foundation.min.js}"></script>
</head>
<body>
	<script th:fragment="init">$(document).foundation();</script>
</body>
</html>
