<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:fragment="mainmenu" id="mainmenu">
		<form id="logout-form" th:action="@{/access/logout}" method="post" style="display: none;"></form>
		<nav th:if="${currentUser.loggedIn}" class="icon-bar five-up">
			<a class="item" href="../about.html" th:href="@{/}">
				<i class="fi-info"></i>
				<label th:text="#{menu.public}"></label>
			</a>
			<a class="item" href="../groups.html" th:href="@{/groups/list}">
				<i class="fi-torsos-all"></i>
				<label th:text="#{menu.groups}"></label>
			</a>
			<a class="item" href="../contacts.html" th:href="@{/account/contacts}">
				<i class="fi-address-book"></i>
				<label th:text="#{menu.contacts}"></label>
			</a>
			<a class="item" href="../edit_account.html" th:href="@{/account/edit/{accountId}(accountId=${currentUser.account.id})}">
				<i class="fi-torso" th:class="#{${currentUser.account.cssClass}}"></i>
				<label th:text="${currentUser.account.name}"></label>
			</a>
			<a class="item" href="#" onclick="javascript: document.getElementById('logout-form').submit();return false;">
				<i class="fi-lock"></i>
				<label th:text="#{menu.logout}"></label>
			</a>
		</nav>
		<nav th:unless="${currentUser.loggedIn}" class="icon-bar three-up">
			<a class="item" href="../about.html" th:href="@{/}">
				<i class="fi-info"></i>
				<label th:text="#{menu.public}"></label>
			</a>
			<a class="item" href="../register.html" th:href="@{/access/register}">
				<i class="fi-plus"></i>
				<label th:text="#{menu.register}"></label>
			</a>
			<a class="item" href="../login.html" th:href="@{/groups/list}">
				<i class="fi-unlock"></i>
				<label th:text="#{menu.login}"></label>
			</a>
		</nav>
	</div>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
