<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>GaGrOr - Gaming Group Organizer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="webjars/foundation/5.4.0/css/foundation.css" />
	<link rel="stylesheet" type="text/css" href="webjars/foundation-icon-fonts/d596a3cfb3/foundation-icons.css" />
	<script src="webjars/modernizr/2.7.1/modernizr.js" />
	<script src="webjars/jquery/2.1.0/jquery.js" />
	<script src="webjars/fastclick/1.0.1/fastclick.js" />
	<script src="webjars/foundation/5.4.0/js/foundation.min.js" />
</head>
<body>
	<nav th:fragment="topmenu-public" class="icon-bar three-up">
		<a class="item" href="/">
			<i class="fi-info"></i>
			<label>Info</label>
		</a>
		<a class="item" href="login">
			<i class="fi-unlock"></i>
			<label>Log in</label>
		</a>
		<a class="item" href="register">
			<i class="fi-plus"></i>
			<label>Register</label>
		</a>
	</nav>
	<h1>GaGrOr - Gaming Group Organizer</h1>
	<p>GaGrOr is a web system that helps you keep track of gaming groups,
	typically for face to face games.</p>
	<p>Use the menu on top of the page to navigate.</p>
	<script>$(document).foundation();</script>
</body>
</html>
