<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a class="current" th:text="#{menu.public}"></a>
	</nav>
	<h1>GaGrOr - Gaming Group Organizer</h1>
	<p>GaGrOr is a web system that helps you keep track of gaming groups,
	typically for face to face games.</p>
	<p>Use the menu on top of the page to navigate.</p>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
