<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>GaGrOr - Gaming Group Organizer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="webjars/foundation/5.4.0/css/foundation.css" />
	<link rel="stylesheet" type="text/css" href="webjars/foundation-icon-fonts/d596a3cfb3/foundation-icons.css" />
	<script src="webjars/modernizr/2.7.1/modernizr.js" />
	<script src="webjars/jquery/2.1.0/jquery.js" />
	<script src="webjars/fastclick/1.0.1/fastclick.js" />
	<script src="webjars/foundation/5.4.0/js/foundation.min.js" />
</head>
<body>
	<nav class="icon-bar five-up">
		<a class="item" href="?name=home">
			<i class="fi-home"></i>
			<label>Home</label>
		</a>
		<a class="item" href="?name=bookmark">
			<i class="fi-bookmark"></i>
			<label>Bookmark</label>
		</a>
		<a class="item" href="?name=info">
			<i class="fi-info"></i>
			<label>Info</label>
		</a>
		<a class="item" href="?name=mail">
			<i class="fi-mail"></i>
			<label>Mail</label>
		</a>
		<a class="item" href="?name=like">
			<i class="fi-like"></i>
			<label>Like</label>
		</a>
	</nav>
	<script>$(document).foundation();</script>
</body>
</html>
