<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<h1>Contacts</h1>
	<p th:if="${#lists.isEmpty(contacts)}">You have no contacts</p>
	<div th:fragment="contactTable (contacts)" th:unless="${#lists.isEmpty(contacts)}">
		<div th:each="contact : ${contacts}">
			<ul class="breadcrumbs">
				<li class="current">
					<span class="fi-torso" th:class="#{${contact.cssClass}}" th:text="${contact.username}">Name</span>
				</li>
				<li th:if="${contact.contactType} ? ${contact.contactType.contact}">
					<a href="view_contact.html" th:href="@{/account/viewcontact/{contactId}(contactId=${contact.contactId})}">View contact</a>
				</li>
				<li th:unless="${contact.contactType}">
					<a href="contacts.html" th:href="@{/account/request/{accountId}(accountId=${contact.id})}">Send contact request</a>
				</li>
				<li th:if="${contact.contactType != null and contact.contactType.request and contact.incoming}">
					<a href="contacts.html" th:href="@{/account/accept/{contactId}(contactId=${contact.contactId})}">Accept request</a>
				</li>
				<li th:if="${contact.contactType != null and contact.contactType.request and contact.incoming}">
					<a href="contacts.html" th:href="@{/account/decline/{contactId}(contactId=${contact.contactId})}">Decline request</a>
				</li>
				<li th:if="${contact.contactType != null and not contact.incoming}">
					<a href="contacts.html" th:href="@{/account/delete/{contactId}(contactId=${contact.contactId})}">Delete</a>
				</li>
				<li th:if="${#lists.contains(currentUser.accountType.mayEdit, contact.accountType)}">
					<a href="edit_account.html" th:href="@{/account/edit/{accountId}(accountId=${contact.id})}">Edit account</a>
				</li>
				<li th:if="${#lists.contains(currentUser.accountType.mayEdit, contact.accountType)}">
					<a href="#" th:href="@{/account/login/{accountId}(accountId=${contact.id})}">Log in as user</a>
				</li>
			</ul>
		</div>
	</div>
	<h2 th:unless="${#lists.isEmpty(sentContactRequests)}">Sent contact requests</h2>
	<div th:replace=":: contactTable (contacts=${sentContactRequests})"></div>
	<h2 th:unless="${#lists.isEmpty(receivedContactRequests)}">Received contact requests</h2>
	<div th:replace=":: contactTable (contacts=${receivedContactRequests})"></div>
	<h2>Other users</h2>
	<p th:if="${#lists.isEmpty(notMyContacts)}">All users are your contacts</p>
	<div th:replace=":: contactTable (contacts=${notMyContacts})"></div>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
