<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a class="current" th:text="#{menu.contacts}"></a>
	</nav>
	<dl class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/account/contacts/find}" th:text="#{menu.contacts.find}"></a></dd>
	</dl>
	<p th:if="${#lists.isEmpty(contacts)}">You have no contacts</p>
	<table th:fragment="contactTable (contacts)" th:unless="${#lists.isEmpty(contacts)}">
		<thead>
			<tr>
				<td>User</td>
				<td colspan="7">Action</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="contact : ${contacts}">
				<td>
					<a th:replace="/fragments/formatting :: contact (contact=${contact})"></a>
				</td>
				<td th:unless="${contact.contactType}">
					<a href="contacts.html" th:href="@{/account/request/{accountId}(accountId=${contact.id})}" th:text="#{menu.contacts.request}"></a>
				</td>
				<td th:if="${contact.contactType != null and contact.contactType.request and contact.incoming}">
					<a href="contacts.html" th:href="@{/account/accept/{contactId}(contactId=${contact.contactId})}" th:text="#{menu.contacts.accept}"></a>
				</td>
				<td th:if="${contact.contactType != null and contact.contactType.request and contact.incoming}">
					<a href="contacts.html" th:href="@{/account/decline/{contactId}(contactId=${contact.contactId})}" th:text="#{menu.contacts.decline}"></a>
				</td>
				<td th:if="${contact.contactType != null and not contact.incoming}">
					<a href="contacts.html" th:href="@{/account/delete/{contactId}(contactId=${contact.contactId})}" onclick="return window.confirm('Are you sure?');" th:text="#{menu.contacts.delete}"></a>
				</td>
				<td th:if="${currentUser.mayEdit(contact)}">
					<a href="edit_account.html" th:href="@{/account/edit/{accountId}(accountId=${contact.id})}" th:text="#{menu.profile}"></a>
				</td>
				<td th:if="${currentUser.mayEdit(contact)}">
					<a href="#" th:href="@{/account/login/{accountId}(accountId=${contact.id})}" th:text="#{menu.contacts.login}"></a>
				</td>
			</tr>
		</tbody>
	</table>
	<p th:if="${#lists.isEmpty(receivedContactRequests)}">You have no received contact requests</p>
	<p th:unless="${#lists.isEmpty(receivedContactRequests)}">You have received the following contact requests</p>
	<table th:replace=":: contactTable (contacts=${receivedContactRequests})"></table>
	<p th:if="${#lists.isEmpty(sentContactRequests)}">You have no sent contact requests</p>
	<p th:unless="${#lists.isEmpty(sentContactRequests)}">You have sent the following contact requests</p>
	<table th:replace=":: contactTable (contacts=${sentContactRequests})"></table>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
