<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<h1>Edit user <span th:text="${currentState.username}">name</span></h1>
	<form action="#" th:action="@{/account/edit/{accountId}(accountId=${currentState.id})}" th:object="${editAccountForm}" method="post">
		<p>Registered: <span th:text="${#calendars.format(currentState.created,'yyyy-MM-dd HH:mm')}">1970-01-01 00:01</span></p>
		<p class="error" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Global errors</p>
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{version}" />
		<input th:unless="${currentUser.id} == ${currentState.id}" type="hidden" th:field="*{username}" />
		<label th:if="${currentUser.id} == ${currentState.id}">
			Username <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
			<input type="text" th:field="*{username}" />
		</label>
		<input th:if="${currentUser.id} == ${currentState.id}" type="hidden" th:field="*{active}" />
		<label th:unless="${currentUser.id} == ${currentState.id}">
			Active
			<input type="checkbox" th:field="*{active}" />
		</label>
		<input th:if="${currentUser.id} == ${currentState.id}" type="hidden" th:field="*{locked}" />
		<label th:unless="${currentUser.id} == ${currentState.id}">
			Locked
			<input type="checkbox" th:field="*{locked}" />
		</label>
		<fieldset>
			<legend>Change password</legend>
			<label>
				Password <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
				<input type="password" th:field="*{password}" />
			</label>
			<label>
				Repeat password <span class="error" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}">Password repeat error</span>
				<input type="password" th:field="*{passwordRepeat}" />
			</label>
		</fieldset>
		<button type="submit">Save</button>
	</form>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
