<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{${group.url}}" th:text="${group.name}"></a>
		<a class="current" th:text="#{menu.groups.edit}"></a>
	</nav>
	<form action="#" th:action="@{/groups/edit/{groupId}(groupId=${group.id})}" th:object="${groupEditForm}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="hidden" th:field="*{version}" />
		Name <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
		<input type="text" th:field="*{name}" />
		<label>
			Viewable by anyone
			<input type="checkbox" th:field="*{viewableByAnyone}" />
		</label>
		<button type="submit">Save</button>
	</form>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
