<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a class="current" th:text="#{menu.groups}"></a>
	</nav>
	<dl class="sub-nav" id="pageactions">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/groups/create}" th:text="#{menu.groups.create}"></a></dd>
	</dl>
	<p th:if="${#lists.isEmpty(groups)}">You are not a member of any groups</p>
	<table th:fragment="groupsTable (groups, public)" th:unless="${#lists.isEmpty(groups)}">
		<thead>
			<tr>
				<td>Group</td>
				<td th:unless="${public == 'true'}">Role</td>
				<td>Members</td>
				<td colspan="3">Action</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="group : ${groups}">
				<td th:text="${group.name}"></td>
				<td th:unless="${public == 'true'}" th:text="#{${group.memberType.displayNameProperty}}"></td>
				<td th:text="${group.memberCount} + (${group.invitationCount}? ' (+' + ${group.invitationCount} + ')' : '')"></td>
				<td><a th:href="@{/groups/view/{groupId}(groupId=${group.id})}" th:text="#{menu.groups.view}"></a></td>
				<td th:if="${public != 'true' and group.memberType.invitation}"><a th:href="@{/groups/accept/{memberId}(memberId=${group.memberId})}" th:text="#{menu.groups.accept}"></a></td>
				<td th:if="${public != 'true' and group.memberType.invitation}"><a th:href="@{/groups/decline/{memberId}(memberId=${group.memberId})}" th:text="#{menu.groups.decline}"></a></td>
			</tr>
		</tbody>
	</table>
	<p th:unless="${#lists.isEmpty(invitations)}">You have been invited to the following groups:</p>
	<table th:replace=":: groupsTable (groups=${invitations}, public='false')"></table>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
