<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<h1>Groups</h1>
	<dl class="tabs" data-tab="">
		<dd class="active"><a href="#tablist">My groups</a></dd>
		<dd><a href="#tabinvitations">Invitations</a></dd>
	</dl>
	<div class="tabs-content">
		<div class="content active" id="tablist">
			<p th:if="${#lists.isEmpty(groups)}">You are not a member of any groups</p>
			<p><a href="#" th:href="@{/groups/create}">Create group</a></p>
			<table th:fragment="groupsTable (groups)" th:unless="${#lists.isEmpty(groups)}">
				<thead>
					<tr>
						<td>Group name</td>
						<td>My role</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="group : ${groups}">
						<td th:text="${group.name}">A group</td>
						<td th:text="#{${group.memberType.displayNameProperty}}">Member</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="content" id="tabinvitations">
			<p th:if="${#lists.isEmpty(invitations)}">You have not received any invitations</p>
			<table th:replace=":: groupsTable (groups=${invitations})"></table>
		</div>
	</div>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
