<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:href="@{/groups/list}" th:text="#{menu.groups}"></a>
		<a th:href="@{/groups/view/{groupId}(groupId=${group.id})}" th:text="${group.name}"></a>
		<a class="current" th:text="#{menu.groups.members}"></a>
	</nav>
	<dl class="sub-nav" id="pageactions" th:if="${group.memberType != null and group.memberType.owner}">
		<dt th:text="#{menu.subpages}"></dt>
		<dd><a th:href="@{/groups/invite/{groupId}(groupId=${group.id})}" th:text="#{menu.groups.members.invite}"></a></dd>
	</dl>
	<table>
		<thead>
			<tr>
				<td>User</td>
				<td>Member type</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="member : ${group.members}">
				<td><span th:replace="/fragments/formatting :: username (account=${member})"></span></td>
				<td th:text="#{${member.memberType.displayNameProperty}}"></td>
			</tr>
		</tbody>
	</table>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
