<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/about :: head" />
<body>
	<nav th:replace="/about :: topmenu-public"></nav>
	<h1>Log in</h1>
	<form action="#" th:action="@{/access/login}" th:object="${loginForm}" method="post">
		<input type="text" th:field="*{login}" />
		<input type="password" th:field="*{password}" />
		<button type="submit">Log in</button>
	</form>
	<p>Current user is <span th:text="${currentUser}">some user</span></p>
	<script>$(document).foundation();</script>
</body>
</html>
