<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<h1>Log in</h1>
	<div th:if="${param.error}">
		Invalid username and password.
	</div>
	<div th:if="${param.logout}">
		You have been logged out.
	</div>
	<form action="#" th:action="@{/access/login}" method="post">
		<label>
			Username
			<input type="text" name="username" />
		</label>
		<label>
			Password
			<input type="password" name="password" />
		</label>
		<button type="submit">Log in</button>
	</form>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
