<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a class="current" th:text="#{menu.register}"></a>
	</nav>
	<form action="#" th:action="@{/access/register}" th:object="${registerForm}" method="post">
		<label>
			Username <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
			<input type="text" th:field="*{username}" />
		</label>
		<label>
			Password <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>
			<input type="password" th:field="*{password}" />
		</label>
		<label>
			Repeat password <span class="error" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}">Password repeat error</span>
			<input type="password" th:field="*{passwordRepeat}" />
		</label>
		<button type="submit">Register</button>
	</form>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
