<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/framework :: head" />
<body>
	<div th:replace="/fragments/mainmenu :: mainmenu"></div>
	<nav class="breadcrumbs" id="submenu">
		<a th:href="@{/account/contacts}" th:text="#{menu.contacts}"></a>
		<a class="current" th:text="${contact.name}"></a>
	</nav>
	<p>Contact type: <span th:text="#{${contact.contactType.displayNameProperty}}">Normal contact</span></p>
	<p>Account type: <span th:text="#{${contact.accountType.displayNameProperty}}">Standard user</span></p>
	<p>Registered: <span th:replace="/fragments/formatting :: datetime (date=${contact.created})"></span></p>
	<script th:replace="/fragments/framework :: init"></script>
</body>
</html>
